<div>
	<p class="page-title">Episodes playing</p>
	<div class="genre-tag-wrap" style="display: inline-block; width:fit-content; background-color:#fff">

		<p class="genre-tag" style="font-size: 10pt; font-weight: normal; margin: 0;">
			<%= @genre.name %>
		</p>
	</div>
</div>

<div class="section-playing-genres" style="border-bottom:none; margin-top: 0.5em">
	<ul>
	  <% @genre.episodes_desc.each do |episode| %>
		  <%= link_to show_episode_path(episode.show, episode) do %>
		    <li class="fav-show-card">
					<%= image_tag episode.avatar.url(:medium) %>
					<p class="episode-title"><%= episode.title %></p>
				</li>
		  <% end %>
	  <%end%>
  </ul>
</div>

