<h1>Welcome to Rails Radio</h1>

<nav>
	<ul>
		<% unless user_signed_in? %>
			<li><%= link_to "Login", new_user_session_path, class: "button" %></li>
			<li><%= link_to "Register", new_user_registration_path, class: "button" %></li>
		<% else %>
			<li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "button" %></li>
		<% end %>
	</ul>
</nav>