/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
	background-color: #f0f0f0;
	font-family: sans-serif;
}

body {
	margin: 0 auto;
	background-color: #f0f0f0;
}

a {
	text-decoration: none;
}

nav {
	padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
}

nav a {
  font-size: 10.5pt;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding-right: 7px;
  color: #000;
}

.username-header a {
	color: #000;
	margin-right: 10px;
}

.log-out a {
	font-size: 8pt;
	text-transform: uppercase;
	color: #000;
}

.login-register-button {
	font-size: 8pt;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	border: 1px solid #000;
	padding: 3px;
	padding-right: 5px;
}

.login-register-button:hover {
	background-color: #fff;
}

.field {
	margin-bottom: 5px;
}

.username-password {
	font-size: 8pt;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
}

.form-login {
  width: 175px;
  float: left;
}

.remember-me {
	font-size: 9pt;
}

.wide-header {
	width: 100%;
  margin-bottom: 4em;
}

.section {
	position: relative;
	margin: 0 auto;
	max-width: 940px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 1.4em
}

.section-nav {
	margin: 0 auto;
	width: 100%;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #ccc;
}

.section-header {
	width: 100%;
	margin: 0 auto;
}

.section p {
	font-size: 10.5pt;
	font-weight: bold;
	text-transform: uppercase;
}

.main {
	margin: 0 auto;
	max-width: 940px;
}

.login {
	float:right;
	position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.alt-login {
	float: left;
	margin-left: 70px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  font-size: 9.5pt;
	font-weight: bold;
}

.radio{
	max-height: 40px;
	vertical-align: middle;
}

.radio-header {
	background-color: #f0f0f0;
	padding-top: 6px;
	height: 45px;
	border-bottom: 1px solid #ccc;
	padding-left: 1em;
  padding-right: 1em;
}

.form-control {
	border: none;
	height: 18px;
	width: 150px;
}

.form-control:focus {
	outline: none;
}

.search-button {
	border: none;
	position: absolute;
	padding-bottom: 0px;
	background-color: transparent;
}

i.material-icons {
	font-size: 18px;
}

i.material-icons:hover {
	cursor: pointer;
}

.search-bar {
	width: 180px;
	height: 20px;
	border: 1px solid #ccc;
	background-color: white;
	margin-top: -2px;
}

/*//////////// rails radio recommends ///////////////*/
.section-recommends {
	position: relative;
	margin: 0 auto;
	max-width: 940px;
	border-bottom: 1px solid #ccc;
	float:left;
	margin-top: 0.5em;
}

.section-title{
	font-size: 10.5pt;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}

.section-description {
	font-size: 10.5pt;
	font-weight: normal;
}

.episode-title{
	font-size: 10.5pt;
	font-weight: normal;
	/*text-transform: uppercase;*/
	margin-bottom: 0;
	margin-top: 0.5em;
	color: #000;
}

.fav-show-card {
  float: left;
  position: relative;
  padding-left: 0;
  margin: 0 2% 4% 0;
}

div.section-recommends > ul > a:nth-child(3n) > li {
	margin: 0 0 4% 0;
}

/*//////////// recently aired ///////////////*/
.section-recent {
	position: relative;
	margin: 0 auto;
	max-width: 940px;
	float:left;
	margin-top: 1em;
	border-bottom: 1px solid #ccc;
	clear: both;
}

.thumb-show-card {
  float: left;
  position: relative;
  padding-left: 0;
  margin: 0 2% 4% 0;
}

div.section-recent > ul > a:nth-child(5n) > li {
	margin: 0 0 4% 0;
}

/*//////////// popular ///////////////*/
.section-popular {
	position: relative;
	margin: 0 auto;
	width: 940px;
	margin-top: 1em;
	float:left;
	clear: both;
}

div.section-popular > ul > a:nth-child(5n) > li {
	margin: 0 0 4% 0;
}

/*//////////// admin panel ///////////////*/
#add.admin-action {
	float: right;
	margin-top: 0.8em;
	margin-right: 10px;
}

.admin-action {
	float: right;
	margin-top: 0.5em;
	margin-right: 10px;
}

.admin-action a {
	font-size: 8pt;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

.admin-action a:hover {
	border-bottom: 1px solid #000
}

i.material-icons {
	font-size: 14px;
	vertical-align: middle;
	padding-right: 2px;
}

.page-title {
	font-size: 10.5pt;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	display: inline-block;
}

.show-img {
  position: relative;
  float: left;
  width: 30%;
  display: table;
  margin-right: 15px;
}

.show-about {
  float: right;
  width: 67%;
  height: 300px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: table-cell;
}

#show-about-bottom {
	position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px;
}

.show-admin {
  float: right;
}

.socials {
	display: inline-block;
	margin-top: 9px;
}

.socials a {
	margin-right: 5px;
}

#show-profile {
  margin-bottom: 8%;
  width: 100%;
  display: inline-flex;
  margin-top: 2em;
}

.section-episodes {
	position: relative;
	margin: 0 auto;
	max-width: 940px;
	float:left;
	margin-top: 0.5em;
}

div.section-episodes > ul > a:nth-child(3n) > li {
	margin: 0 0 4% 0;
}

.episode-title-page {
	font-size: 10.5pt;
	font-weight: normal;
	margin-bottom: 0;
	color: #000;
	display: inline-block;
  position: relative;
}

.episode-date {
	float:right;
	text-transform: uppercase;
	font-size: 9pt;
	font-weight: bold;
	padding-top: 3px;
}

.episode-description {
	font-size: 10.5pt;
	font-weight: normal;
	margin-bottom: 4em;
	max-width: 50%;
}

.player {
	width: 77%;
	height: 35px;
	border: 1px solid #000;
	display: inline-block;
}

.see-all, .favorite-button {
	display: inline-block;
  float: right;
  height: 37px;
  width: 10%;
  margin-left: 5px;
  text-align: center;
  background-color: #000
}

.see-all, .favorite-button p {
	font-size: 9pt;
	text-transform: uppercase;
	font-weight: normal;
	color: #fff;
}

.episode-functions {
	font-size: 9pt;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

#comment-section.episode-functions {
	margin-top: 4em
}

#user-comment-section.episode-functions {
	margin-top: 4em;
	border-bottom: none;
	margin-bottom: 5px;
	font-size: 10.5pt;
}

.episode-admin-action {
  display: inline-block;
  margin-bottom: -3px;
  margin-left: 15px;	
}

.username {
	font-size: 8pt;
	font-weight: normal;
	color: #000;
}

.user-avatar {
	margin-right: 10px;
}

.comment-avatar {
	display: inline;
}

form#new_comment.new_comment {
	clear: both;
  display: inline;
}

textarea#comment_content:focus {
	outline: none;
}

.comment-submit {
	clear: both;
	display: inline;
	margin-left: 73px;
}

.comment-user-row {
	display: inline
}

.comment-content {
	display: inline
}

.comment-wrap {
	display: inline-block;
  position: absolute;
  margin-left: 8px;
}

.comment-user-row {
	top: 0;
	position: relative;
}

.comment-content {
	margin-top: 10px;
  position: absolute;
  font-size: 10.5pt;
  font-weight: normal;
  width: 860px;
}

.comment-date {
	font-size: 8.5pt;
  font-weight: normal;
  margin-left: 5px;
}

.comment-username a{
	color: #000;
}

.comment-section {
	border-top: 1px solid #ccc;
  display: block;
  padding-top: 7px;
  margin-top: 10px;
  min-height: 73px;
}

.comment-action {
  float: right;
  margin-left: 10px;
}

.comment-action a {
	font-size: 8pt;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

.comment-action a:hover {
	border-bottom: 1px solid #000
}

.edit-comment {
	font-size: 9pt;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
}

.user-comment-wrap {
	display: inline-block;
  position: absolute;
}

.user-comments {
	border-top: 1px solid #ccc;
  display: block;
  padding-top: 7px;
  min-height: 83px;
}

.user-profile {
  display: inline;
  position: absolute;
}

.user-profile-name {
	display: inline;
	margin-left: 10px;
	top: 0;
	position: relative;
}

.edit-user {
  margin-left: 10px;
  font-size: 8pt;
  text-transform: uppercase;
  font-weight: bold;
}

.edit-user a{
	color: #000;
}

.edit-user a:hover{
	border-bottom: 1px solid #000;
}

