<div class="section-recommends">
	<p class="page-title">Shows</p>

	<% if current_user.try(:admin?) %>
		<div id="add" class="admin-action">
			<span><i class="material-icons">add_circle_outline</i></span><%= link_to "Add new Show", new_show_path %>
		</div>
	<% end %>

	<ul>
		<% @shows.each do |show| %>
			<%= link_to show_path(show) do %>
				<li class="fav-show-card">
					<%= image_tag show.avatar.url(:medium) %>
					<p class="episode-title"><%= show.title %></p>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>