<div class="section-archive-highlights" >
	<p class="page-title">highlights</p>
	<ul>
		<% @admin.each do |admin| %>
			<% admin.admin_favorites_all.each do |episode| %>
				<%= link_to show_episode_path(episode.show, episode) do %>
					<li class="thumb-show-card">
						<%= image_tag episode.avatar.url(:thumb) %>
						<p class="episode-title"><%= episode.title %></p>
					</li>
				<% end %>
			<% end %>
		<% end %>
	</ul>
</div>